body{
    font-family: Roboto, sans-serif;
}
.navbar{
    background-color: gray;
}
.nav .nav-link.active{
    background-color: white;
    color: gray;
}
.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}
.navbar-toggler{
    background-color: #fff;
}
.section-title{
    font-family: tagesschrift, cursive;
}