body{
    font-family: Roboto, sans-serif;
}
.navbar{
    background-color: gray;
}
#cabecalho .nav .nav-link.active{
    background-color: white;
    color: gray;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}
.navbar-toggler{
    background-color: #fff;
}
.section-title{
    font-family: tagesschrift, cursive;
}
#sobre-a-loja{
    background-color: burlywood;
}
#servicos{
    background-color: rgb(161, 159, 159);
}
#produtos{
    background-color: burlywood;
}
.text-colored{
    color: dimgray;
}